.mini-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
    top: -2em;
    font-size: 12px;
    background-color: #010606;
    padding: 1em;
    width: 100%;
  }
  
  .mini-footer a {
  text-decoration: none;
  color: #8f9296;
  transition: all .2s ease;
  }
  
  .mini-footer a:hover {
    color: darkcyan;
    transition: all .2s ease;
  }

  .mini-footer span {
    color: #8f9296;
  }

